<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/game.css" />
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="../assets/favicon.ico"
    />
    <title>Chess has Quirks</title>
  </head>
  <body>
    <div id="header">
      <h1 class="title">Chess has Quirks</h1>
    </div>
    <div id="root">
      <h3 id="player-type" class="center-align"></h3>
      <h2 id="message" class="center-align"></h2>
      <div class="center-align game-board-wrapper">
        <div id="board"></div>
      </div>
      <div class="log"></div>
    </div>
    <div id="no-display">Please make your window bigger to play</div>
    <script type="module" src="../js/index.js"></script>
  </body>
</html>
