<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/splash.css" />
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="../assets/favicon.ico"
    />
    <title>Chess has Quirks</title>
  </head>
  <body>
    <div id="header">
      <div class="title-wrapper">
        <h1 class="title">Chess has Quirks</h1>
      </div>
    </div>
    <div id="root">
      <div class="stats">
        <h3>
          <%= gamesPlayed %> <% if (gamesPlayed != 1) { %> games <% } else { %>
          game <% } %> played, <%= gamesWon %> won, <%= timesVisited %> times
          visited
        </h3>
      </div>
      <div class="button-wrapper">
        <form action="/play" method="get">
          <button class="button" type="submit">Play Now</button>
        </form>
      </div>
    </div>
    <div id="no-display">Please make your window bigger to play</div>
  </body>
</html>
