@import "./style.css";

.game-board-wrapper {
  width: fit-content;
  width: -moz-fit-content;
  margin: 50px auto;
}
#game-board {
  max-width: 800px;
  width: 50%;
}
.board {
  border: 1px solid black;
}

.col {
  width: 50px;
  height: 50px;
  display: inline-block;
  margin-top: -6px;
  /* padding: 0 3px; */
  border: 1px solid black;
}

.piece {
  top: -6px;
  position: relative;
}

.enabled:hover {
  cursor: pointer;
}

.white {
  background-color: ivory;
}
.black {
  background-color: sienna;
}

.available-move {
  background-color: chartreuse;
  border-radius: 50%;
  cursor: pointer;
}
