#root {
  margin: 5px auto;
  padding: 5px;
  max-width: 700px;
}
#header {
  height: 60px;
}
.title {
  position: relative;
  margin: 5px auto;
  width: fit-content;
  width: -moz-fit-content;
}
.title-wrapper {
  position: absolute;
  left: 0;
  width: 100%;
}
.title::before {
  content: url("../assets/KING_BLACK.svg");
}
.title::after {
  content: url("../assets/QUEEN_BLACK.svg");
}

.title:not(:fullscreen) {
  color: black;
}
.title:fullscreen {
  color: orange;
}

@media (min-width: 699px) {
  #no-display {
    display: none;
    margin: 5px auto;
    width: fit-content;
    width: -moz-fit-content;
  }
}
@media (max-width: 700px) {
  #root {
    display: none;
  }
}
